{% extends "base.jinja" %}
{% block content %}
Get yer books out.

{% for book in books_in_list %}
    <p><b><a href = "/books/{{book.id}}">{{ book.title }}</a></b> by {{ book.author.name }} </p>
{% endfor%}
{% endblock %}