{% extends "base.jinja" %}
{% block content %}

<p>Would you like to add a book to our database?</p>
<p>Unfortunately, we can only add a book by an author we know.</p>
<p>Even more unfortunately, we really don't know many authors.</p>
{% endblock %}